*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-size: 15px;
    --text-align: center;
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%) ;
    --Grayishblue: hsl(219, 20%, 80%);
    --Darkblue: hsl(218, 44%, 22%);

    
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Grayishblue);
}
.container{
    background-color: white;
    border-radius: 15px;
    width: 23%;
}
img{
    align-items: center;
    width: 88%;
    margin: 15px;
    padding-left: 15px;
    border-radius: 7%;
}
.white{
    text-transform: capitalize;
    text-align: center;
    margin: 15px;
   
}
.white p{
    font-weight: 400;
    font-size: var(--font-size);
    margin-bottom: 30px;
    padding: 10px;
    color:var(--Lightgray);
}
@media screen and (max-width : 1200px){
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--Grayishblue);
    }
    .container{
        background-color:var(--White);
        border-radius: 15px;
        border-top: 15px;
        width: 60%;
        margin: auto;
    }
    img{

        border-radius: 5%; 
        margin: 20px;
        width: 88%;
        padding-left: 20px;
        
    }
    .white{
        text-transform: capitalize;
        text-align: center;
        margin: 15px;
       
    }
    .white p{
        font-weight: 700;
        font-size: var(--font-size);
        margin-bottom: 30px;
        padding: 10px;
        color:var(--Lightgray);
    }
}